:root {
    --w: min(100vw, calc(100vh * 0.666667));
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#layer-container-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.layer-container {
    background-color: grey;
}

#primary {
    grid-column: 1 / 2;

}

#secondary {

    display: none;
}

.layer {
    display: flex;
    flex-direction: column;
}

.page {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: var(--w);
    height: calc(var(--w) + calc(var(--w) * 0.5));
    border: 2px solid red;
}

@media screen and (min-width: 1280px) {
    #layer-container-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: calc((100vw - (var(--w) * 2))/10);
    }

    #secondary {
        grid-column: 2/3;
        display: block;
    }
}