:root {
    --w: min(100vw, calc(100vh * 0.666667));
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
} 

body {
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

#wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

#bkg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(./assets/visual/images/bkg.jpg);
    background-position: 50% 50%;
    background-size: calc(var(--w) * 5);
}

#column {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.page-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
}

.page {
    box-sizing: border-box;
    position: relative;

    background-color: black;
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    width: var(--w);
    height: calc(var(--w) + calc(var(--w) * 0.5));
}

.box {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    /* border: 3px solid red; */
}

h1, h2, p, a {
    margin: auto;
}

h1 {
    font-size: calc(var(--w) / 6);
}

h2 {
    text-align: center;
    font-size: calc(var(--w) / 16);
}

p, a {
    text-align: justify;
    font-size: calc(var(--w) / 20);
}


.next-page {
    top: 93.33%;
    left: 0%;
    height: 6.66%;
    width: 100%;
    border: 1px solid white;
}

a {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
}

#page1 .box:nth-child(1) {
    top: 6.33%;
    left: 0%;
    width: 100%;
    height: 13.33%;
}

#page1 .box:nth-child(2) {
    top: 20%;
    left: 10%;
    width: 80%;
    height: 12.66%;
}

#page1 .box:nth-child(3){
    top: 40%;
    left: 10%;
    width: 80%;
    height: 53.33%;
}

#page1 .box:nth-child(4) {
    top: 93.33%;
    left: 0%;
    height: 6.66%;
    width: 100%;
    border: 1px solid white;
}

#page2 .box:nth-child(1) {
    left: 10%;
    top: 6.66%;
    width: 80%;
    height: 33.33%;
}

#page2 .box:nth-child(2) {
    left: 20%;
    top: 40%;
    width: 60%;
    height: 26.66%;
}

#page2 .box:nth-child(3) {
    left: 10%;
    top: 66.66%;
    width: 80%;
    height: 26.66%;
}

#page3 .box:nth-child(1) {
    left: 10%;
    top: 6.66%;
    width: 80%;
    height: 33.33%;
}

#page3 .box:nth-child(2) {
    left: 20%;
    top: 40%;
    width: 60%;
    height: 26.66%;
}

#page3 .box:nth-child(3) {
    left: 10%;
    top: 66.66%;
    width: 80%;
    height: 26.66%;
}

